body {
  position: relative;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.background {
  position: relative;
  background: url('images/background.jpg');
  background-size: cover !important;
  height: 100vh;
}

#container {
  position: relative;
  width: 100%;
}

.image-overlay {
  background-color: rgba(61,70,100,0.86);
  z-index: 1;
  height: 100%;
}

#contact {
  margin-right: 65px;
  margin-top: 40px;
  float: right;
  list-style: none;
}

#contact li {
  margin-left: 25px;
  float: left;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

#contact li:hover {
  color: #4e66c0;
  transition-duration: .8s;
}

li .icon {
  margin-right: 8px;
}

#logo {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
}

#slogan {
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  text-align: center;
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 45px;
  color: white;
}

#promotion {
  position: absolute;
  top: 210px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  text-align: center;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 11px;
  color: grey;
}

#schedule {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 160px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #567bff;
  border-radius: 20px;
  color: white;
}

#center {
  position: absolute;
  top: 340px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  z-index: 1;
}

#left {
  position: absolute;
  top: 370px;
  left: 34%;
  max-width: 200px;
  animation-name: slideleft;  /*create an animation called slideleft*/
  animation-duration: 1s;   /*This animation will happen in 1s*/
  animation-fill-mode: forwards;     /*Stop animation returning to original state*/
}

#right {
  position: absolute;
  top: 370px;
  right: 34%;
  max-width: 200px;
  transition: 1s;
  animation-name: slideright;   /*create animation call slideright*/
  animation-duration: 1s;      /*This animation will happen in 1s*/
  animation-fill-mode: forwards;    /*Stop animation returning to original state*/
}

@keyframes slideleft {      /*Edit animation*/
  from {transform: translate(0,0);}   /*start from its original position*/
  to {transform: translate(-40px,0);}   /*end at different position*/
}

@keyframes slideright {     /*Edit animation*/
  from {transform: translate(0,0);}   /*start from its original position*/
  to {transform: translate(40px,0);}    /*end at different position*/
}
